
/**
 * @name Hidden panels
 * @originalAuthor Sharp-urAPIse#8888
 * @version 1.0.0
 * @description Hide all panels (member list, channel list, server list,...) except the chat panel. Hover at the edge of a panel to expand them; added extra thingy magigies (hololive justice reference) and deleted some things because they no work
 * @authorId 343601966871609356
 * @source https://github.com/tachibanayui/hidden-panel
 * @website https://github.com/tachibanayui
*/

/* force hidden panels if the window's width is less than 850px */

@media screen and (min-width: 900px) {
    div[class^="membersWrap_cbd271 hiddenMembers_cbd271"],
    div[class^="sidebar_a4d4d9"],
    div[class^="container_cbd271"] {
        overflow: hidden;
        flex-basis: 240px !important;
    }  
}
.hiddenMembers_cbd271 {
    justify-content: normal;
}
div[class^="membersWrap_cbd271 hiddenMembers_cbd271"],
div[class^="sidebar_a4d4d9"],
div[class^="container_cbd271"] {
    overflow: hidden;
    flex-basis: 15px;
    transition: flex-basis .25s .5s steps(10, end) !important;
    min-width: 0px !important;
}
div[class^="membersWrap_cbd271 hiddenMembers_cbd271"]:hover,
div[class^="sidebar_a4d4d9"]:hover,
div[class^="container_cbd271"]:hover {
    flex-basis: 240px;
    transition: flex-basis 0.1s steps(10, end) !important;
    display: flex;
}

/* settings hell */

.sidebarRegion_c25c6d {
    display: flex;
    flex: 0 0 auto;
    width: 240px;
}
div[class^="sidebarRegion_c25c6d"] {
    overflow: hidden !important;
    flex-basis: 15px !important;
    transition: flex-basis .25s .5s steps(10, end) !important;
}
div[class^="sidebarRegion_c25c6d"]:hover{
    overflow: hidden !important;
    flex-basis: 250px !important;
    transition: flex-basis 0.05s steps(20, end) !important;
}
.contentRegionShownSidebar_c25c6d {
    justify-content: center;
}
